@{
  Layout = "_Layout";
}

@* @using (Html.BeginForm()
{

})
    <form id="newForm" action="/pets" method="post">
      <label for="type">Select Pet Type: </label>
      <select class="newFields" id="type" name="info" required>
        <option selected="true" disabled="disabled">Please Select a Kind of Pet</option>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="small">Small Pet</option>
      </select>
      <label for="name">Pet name: </label>
      <input class="newFields" id="name" name="info" type="text">
      <button class="btn" type="submit">Submit</button>
    </form> *@
