@{
  Layout = "_Layout";
}
    <h1 class="homepg-h1">Lil' Pet Shoppe</h1>
    <form class="homePgBtn" action="/pets/new">
    <button class="btn" type="submit">Add a Pet</button>
    </form>
    <form class="homePgBtn" action="/pets">
    <button class="btn" type="submit">See your pets</button>
    </form>